extends ../public/layout

block modal
  // 添加课程
  .add-curriculum-modal(style='display: none;')
    .col-sm-12
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label 课程名称
          .col-sm-10
            input.form-control(type='text', name='name')
        .form-group
          label.col-sm-2.control-label 课程介绍
          .col-sm-10
            textarea.form-control(type='text', name='introduce')
        .form-group
          label.col-sm-2.control-label 教学内容
          .col-sm-10
            textarea.form-control(type='text', name='coursescon')
        .form-group
          label.col-sm-2.control-label 教学教法
          .col-sm-10
            input.form-control(type='text', name='coursesmet')
        .form-group
          label.col-sm-2.control-label 开设班级
          .col-sm-10
            select(name='classid', class='form-control')
              each classitem in classData
                option(value= classitem.classid)= classitem.classname
    .clear
  // 布置作业
  .add-assignment-modal(style='display: none;')
    .col-sm-12
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label 内容
          .col-sm-10
            textarea.form-control(type='text', name='assignmentContent')
        .form-group
          label.col-sm-2.control-label 所属班级
          .col-sm-10
            select(name='assignmentClass', class='form-control')
              each classitem in classData
                option(value= classitem.classid)= classitem.classname
        .form-group.form-group-isload
          label.col-sm-2.control-label 所属课程
          .col-sm-10
            select(name='assignmentCurriculum', class='form-control')
              each curriculumitem in curriculumData
                option(value= curriculumitem.id)= curriculumitem.name
    .clear

block leftnav
  aside.float-navigation.light-navigation
    .nano
      .nano-content
        ul#menu.metisMenu.nav
          li.active
            a.leftmenuli(href='javascript: void(0);', aria-expanded='true')
              i.icon-home
              |  班级管理
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              each classitem in classData
                li.manage-class(data-classid= classitem.classid)
                  a(href='javascript: void(0);')= classitem.classname
          li
            a.leftmenuli(href='javascript: void(0);', aria-expanded='true')
              i.icon-folder-alt
              |  课程管理
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li.add-curriculum
                a(href='javascript: void(0);', aria-expanded='true')
                  | 添加课程
              li
                a(href='javascript: void(0);', aria-expanded='true') 我的课程
                  span.fa.arrow
                ul.nav-third-level.nav.curriculumUl(aria-expanded='true')
                  each curriculumitem in curriculumData
                    li.class-content(data-curriculumid= curriculumitem.id)
                      a(href='javascript: void(0);')= curriculumitem.name
            li
              a.leftmenuli.resourcesTitLi(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  课程资源
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                each curriculumitem in curriculumData
                  li.resources-content(data-curriculumid= curriculumitem.id)
                    a(href='javascript: void(0);')= curriculumitem.name
            li
              a.leftmenuli(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  作业 
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                li.add-assignment
                  a(href='javascript: void(0);') 布置作业
                li
                  a(href='javascript: void(0);') 查看已布置作业
                    span.fa.arrow
                  ul.nav-second-level.nav(aria-expanded='true')
                    each curriculumitem in curriculumData
                      li.assignment-content(data-curriculumid= curriculumitem.id)
                        a(href='javascript: void(0);')= curriculumitem.name
            li
              a.leftmenuli(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  公告 
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                li.add-notice
                  a(href='javascript: void(0);') 发布公告
                li.notice-content
                  a(href='javascript: void(0);') 查看往期公告

block content
  section.main-content

block js
  script(src='/CExchange/js/teacher/teacher.js')
  script(src='/CExchange/js/teacher/teacherload.js')
