.page-header
	.row
		.col-sm-6
			h4= pageHeaderTit
.row
	.col-md-12
		.panel.panel-default
			.panel-body
				section#cd-timeline.cd-container
					each item in data
						.cd-timeline-block
							.cd-timeline-img.cd-picture
								img(src='/bootstrap/picture/cd-icon-picture.svg', alt='Picture')
							.cd-timeline-content
								p= item.content
								span.cd-date.assignment-date= item.date
