extends ../public/layout

block leftnav
  aside.float-navigation.light-navigation
    .nano
      .nano-content
        ul#menu.metisMenu.nav
          li.active
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-home
              |  我的班级
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              each classitem in classData
                li.manage-class(data-classid= classitem.classid)
                  a(href='javascript: void(0);')= classitem.classname
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-folder-alt
              |  我的课程 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='javascript: void(0);', aria-expanded='true')
                  | 添加课程
              each curriculumitem in curriculumData
                li(data-curriculumid= curriculumitem.id)
                  a(href='javascript: void(0);', aria-expanded='true')
                    = curriculumitem.name
                    span.fa.arrow
                  ul.nav-third-level.nav(aria-expanded='true')
                    li
                      a(href='javascript: void(0);') 课程介绍
                    li
                      a(href='javascript: void(0);') 教学内容
                    li
                      a(href='javascript: void(0);') 教学教法
            li
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  课程资源 
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                each curriculumitem in curriculumData
                  li(data-curriculumid= curriculumitem.id)
                    a(href='javascript: void(0);')= curriculumitem.name
            li
              a(href='javascript: void(0);')
                i.icon-handbag
                |  论坛 
            li
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  作业 
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                li
                  a(href='javascript: void(0);') 发布作业
                li
                  a(href='javascript: void(0);') 查看往期作业
            li
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  公告 
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                li
                  a(href='javascript: void(0);') 发布公告
                li
                  a(href='javascript: void(0);') 查看往期公告

block content
  section.main-content

block js
  script(src='/CExchange/js/teacher/teacher.js')
