extends ../public/layout

block leftnav
  aside.float-navigation.light-navigation
    .nano
      .nano-content
        ul#menu.metisMenu.nav
          li.nav-heading
            span Main Navigation
          li.active
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-home
              |  Dashboard 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='index.html') Dashboard Alpha
              li
                a(href='index-beta.html') Dashboard beta
          li
            a(href='widgets.html')
              i.fa.fa-diamond
              |  Widgets
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-handbag
              |  E-commerce 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='ecommerce-dashboard.html') Dashboard
              li
                a(href='ecommerce-products.html') products
              li
                a(href='ecommerce-orders.html') orders
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-envelope-letter
              |  Mail 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='mail-index.html') Inbox
              li
                a(href='mail-view.html') Inbox view
              li
                a(href='mail-compose.html') Compose
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-grid
              |  Layouts 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='layout-sidebar-topbar-dark.html') Sidebar +Topbar Dark
              li
                a(href='layout-sidebar-colored.html') Sidebar Colored
              li
                a(href='layout-horizontal.html') Horizontal
              li
                a(href='layout-dashboard-only.html') Dashboard Only
          li.nav-heading
            span Components
          li
            a(href='jquery-ui-elements.html')
              i.icon-wrench
              |  Jquery UI Elements
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-settings
              |  UI elements 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='false')
              li
                a(href='ui-typography.html') Typography
              li
                a(href='ui-icons.html') Icons
              li
                a(href='ui-panels.html') Panels
              li
                a(href='ui-buttons.html') Buttons
              li
                a(href='ui-tabs.html') tabs
              li
                a(href='ui-tip-pop.html') Tooltip & Popovers
              li
                a(href='ui-alerts.html') Alerts
              li
                a(href='ui-modals.html') modals
              li
                a(href='ui-grid.html') grid system
              li
                a(href='ui-carousel.html') Carousel
              li
                a(href='ui-sweetalerts.html') Sweet alters
              li
                a(href='ui-alertify.html') Alertify Alters
              li
                a(href='ui-sliders.html') Sliders
              li
                a(href='ui-nestable.html') Nestable
              li
                a(href='ui-date-time-picker.html') Date time pickers
              li
                a(href='ui-treeview.html') Tree view
              li
                a(href='ui-draggable-panels.html') Draggable Panels
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-pencil
              |  Forms 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='form-basic.html') Basic elements
              li
                a(href='form-file-upload.html') File upload
              li
                a(href='form-editor.html') text editor
              li
                a(href='form-wizard.html') Form Wizard
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-bar-chart
              |  Charts 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='chart-flot.html') Flot
              li
                a(href='chart-morris.html') Morris
              li
                a(href='chart-radial.html') Radial
              li
                a(href='chart-c3.html') C3
              li
                a(href='chart-sparkline.html') Sparkline
              li
                a(href='chart-rickshaw.html') rickshaw
              li
                a(href='chart-chartjs.html') ChartJs
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-list
              |  Tables 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='table-basic.html') Basic tables
              li
                a(href='table-data.html') Data tables
              li
                a(href='table-foo.html') Foo tables
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-map
              |  Maps 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='map-vector.html') Vector map
              li
                a(href='map-google.html') Google map
          li.nav-heading
            span More
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-folder
              |  Pages 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='page-empty.html') Empty page
              li
                a(href='page-lockscreen.html') Lock-screen
              li
                a(href='page-login.html') Login
              li
                a(href='page-register.html') Register
              li
                a(href='page-forget-password.html') Forget Password
              li
                a(href='page-404.html') 404
              li
                a(href='page-gallery.html') Gallery
              li
                a(href='page-timeline.html') Timeline
              li
                a(href='page-invoice.html') Invoice
              li
                a(href='page-profile.html') Profile
              li
                a(href='page-calendar.html') Calendar
              li
                a(href='page-chat-room.html') Chat room
              li
                a(href='page-faqs.html') Faqs
              li
                a(href='page-pricing.html') Pricing
              li
                a(href='page-contacts.html') Contacts
              li
                a(href='page-blog.html') Blog
              li
                a(href='page-blog-article.html') Blog article
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-folder-alt
              |  Nested menu 
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              li
                a(href='javascript: void(0);') Level 1
              li
                a(href='javascript: void(0);', aria-expanded='true')
                  | Level 2 
                  span.fa.arrow
                ul.nav-third-level.nav(aria-expanded='true')
                  li
                    a(href='javascript: void(0);') Level 2
                  li
                    a(href='javascript: void(0);') Level 2
