extends ../public/layout

block leftnav
  aside.float-navigation.light-navigation
    .nano
      .nano-content
        ul#menu.metisMenu.nav
          li.active
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-home
              |  我的班级
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              each classitem in classData
                li.student-myclass(data-classid= classitem.classid)
                  a(href='javascript: void(0);')= classitem.classname
          li
            a(href='javascript: void(0);', aria-expanded='true')
              i.icon-folder-alt
              |  我的课程
              span.fa.arrow
            ul.nav-second-level.nav(aria-expanded='true')
              each curriculumitem in curriculumData
                li.student-mycurriculum(data-curriculumid= curriculumitem.id)
                  a(href='javascript: void(0);', aria-expanded='true')
                    = curriculumitem.name
            li
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-folder-alt
                |  我的作业
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                each curriculumitem in curriculumData
                  li.student-myassignment(data-curriculumid= curriculumitem.id)
                    a(href='javascript: void(0);', aria-expanded='true')
                      = curriculumitem.name
            li
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  课程资源
                span.fa.arrow
              ul.nav-second-level.nav(aria-expanded='true')
                each curriculumitem in curriculumData
                  li.student-resources(data-curriculumid= curriculumitem.id)
                    a(href='javascript: void(0);')= curriculumitem.name
            li.student-notice-content
              a(href='javascript: void(0);', aria-expanded='true')
                i.icon-handbag
                |  查看公告

block content
  section.main-content

block js
  script(src='/CExchange/js/teacher/teacher.js')
  script(src='/CExchange/js/student/student.js')
  script(src='/CExchange/js/student/studentload.js')
