doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="icon" href="/CExchange/images/icon/fav.png" type="image/x-icon")
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/simple-line-icons.css', rel='stylesheet')
    link(href='/bootstrap/css/font-awesome.min.css', rel='stylesheet')
    link(href='/bootstrap/css/pace.css', rel='stylesheet')
    link(href='/bootstrap/css/jasny-bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/bootstrap/css/nanoscroller.css')
    link(rel='stylesheet', href='/bootstrap/css/metismenu.min.css')
    link(href='/bootstrap/css/blue.css', rel='stylesheet')
    link(href='/bootstrap/css/style.css', rel='stylesheet')
    link(href='/CExchange/css/public/public.css', rel='stylesheet')
    script(src='/bootstrap/js/html5shiv.min.js')
    script(src='/bootstrap/js/respond.min.js')
    style(type='text/css').
      html,body{
        height: 100%;
      }
  body
    .misc-wrapper
      .misc-content
        .container
          .row
            .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
              .misc-header.text-center(style='color: #fff;font-size: 18px;')
                学生注册
              .misc-box
                p.text-center.text-uppercase.pad-v.switch(style='cursor: pointer;') 切换至教师注册 >>>
                form(role='form')
                  .form-group
                    label.text-muted 账户名
                    .group-icon
                      input.form-control(type='text', placeholder='Enter UserName', name='username')
                      span.icon-user-follow.text-muted.icon-input
                  .form-group.group-icon
                    label.text-muted 密码
                    .group-icon
                      input.form-control(type='password', placeholder='Enter Password', name='password')
                      span.icon-lock.text-muted.icon-input
                  .form-group.group-icon
                    label.text-muted 重复密码
                    .group-icon
                      input.form-control(type='password', placeholder='Confirm Password', name='confirmpassword')
                      span.icon-lock.text-muted.icon-input
                  .form-group
                    label.text-muted 真实姓名
                    .group-icon
                      input.form-control(type='text', placeholder='Enter name', name='name')
                      span.icon-user.text-muted.icon-input
                  .form-group
                    label.text-muted 所在班级
                    .group-icon
                      select.form-control.m-b(name='classid')
                        each classitem in classList
                          option(value= classitem.id)= classitem.classname
                  .clearfix
                    .pull-right
                      input.btn.btn-block.btn-primary.btn-reg(type='button' value='注册')
                  hr
                  p.text-center 已有账号?
                  a.btn.btn-block.btn-default(href='/') 返回登录
    script(src='/bootstrap/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/pace.min.js')
    script(src='/bootstrap/js/jasny-bootstrap.min.js')
    script(src='/bootstrap/js/jquery.slimscroll.min.js')
    script(src='/bootstrap/js/jquery.nanoscroller.min.js')
    script(src='/bootstrap/js/metismenu.min.js')
    script(src='/bootstrap/js/float-custom.js')
    script(src='/bootstrap/js/icheck.min.js')  
    script(src='/CExchange/js/public/sweetalert.min.js')
    script(src='/CExchange/js/public/public.js')
    script(src='/CExchange/js/public/reg.js')
